---
# tasks file for manage_ansible_user
- name: Ensure ansible user exists
  ansible.builtin.user:
    name: "{{ ansible_user_name }}"
    shell: "{{ ansible_user_shell }}"
    groups: "{{ ansible_user_groups }}"
    home: "{{ ansible_user_home }}"
    state: present
    create_home: yes

- name: Ensure .ssh directory exists
  ansible.builtin.file:
    path: "{{ ansible_user_home }}/.ssh"
    state: directory
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0700'

- name: Set authorized key for ansible user
  ansible.builtin.authorized_key:
    user: "{{ ansible_user_name }}"
    key: "{{ ansible_user_ssh_key }}"
    state: present

- name: Ensure sudo privileges for ansible user (optional)
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ ansible_user_name }}"
    content: "{{ ansible_user_name }} ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'
  when: ansible_user_sudo
