Unattended-Upgrade::Allowed-Origins {
{% for origin in unattended_origins %}
        "origin={{ origin }}";
{% endfor %}
};

Unattended-Upgrade::Automatic-Reboot "{{ unattended_auto_reboot | lower }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_auto_reboot_time }}";
